<%- layout('layouts/boilerplate') %> 
<div  style="margin:40px">
    <div class="jumbo  p-5 rounded-lg m-3">
        <h1 class="display-4" style="color: white;">Welcome to Fedex!</h1>
        <p class="display-6">FedEx Express has reinstated door to door pickup and delivery services to select postal codes across key cities in India for both domestic and international services.
        </p>
        <hr class="my-4">
        <p>Explore our services and solutions for business and personal shippers.</p>
        <a class="btn btn-primary btn-lg"  style="background-color:#5F4B8BFF;" href="#" role="button">Get Started</a>
    </div>
</div>